Repository voxpupuli/puppet-bird, pull requests merged in 2019-12, with the labels that each got.

#32 Drop Ubuntu 14.04, use more data types and drop UNSET defaults
  .sync.yml
  .travis.yml
  manifests/init.pp
  manifests/params.pp
  metadata.json
  spec/classes/bird_spec.rb
Labels: backwards-incompatible

#31 modulesync 2.9.0
  .github/CONTRIBUTING.md
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#33 Add CentOS 7 support
  .fixtures.yml
  .sync.yml
  .travis.yml
  manifests/init.pp
  metadata.json
  spec/acceptance/bird_spec.rb
  spec/classes/bird_spec.rb
  spec/spec_helper_acceptance.rb
Labels: enhancement

#34 Add Archlinux support and REFERENCE.md
  REFERENCE.md
  manifests/init.pp
  manifests/params.pp
  metadata.json
  spec/classes/bird_spec.rb
Labels: enhancement

#35 convert to data-in-modules
  REFERENCE.md
  data/Archlinux.yaml
  data/Debian.yaml
  data/RedHat.yaml
  hiera.yaml
  manifests/init.pp
  manifests/params.pp
  spec/classes/bird_spec.rb
Labels: enhancement

#36 Implement config_content parameter
  REFERENCE.md
  manifests/init.pp
  spec/classes/bird_spec.rb
Labels: enhancement

#37 release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#38 modulesync 2.9.0
  .github/CONTRIBUTING.md
  .msync.yml
Labels: modulesync

#40 modulesync 2.10.0
  .msync.yml
  .rubocop.yml
  .travis.yml
  Gemfile
  Rakefile
Labels: modulesync
