Repository voxpupuli/puppet-bird, pull requests merged in 2021-11, with the labels that each got.

#83 Add support for epp() templates
  manifests/init.pp
  spec/classes/bird_spec.rb
Labels: enhancement

#84 Release 4.2.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#86 Allow Sensitive
  manifests/snippet.pp
Labels: enhancement

#88 fix typos in variable names
  REFERENCE.md
  manifests/init.pp
Labels: bug
