Repository voxpupuli/puppet-bird, pull requests merged in 2023-08, with the labels that each got.

#95 puppetlabs/stdlib: Allow 9.x
  metadata.json
Labels: enhancement

#96 Add Puppet 8 support
  metadata.json
Labels: enhancement

#98 Fix usage of deprecated ensure_packages / require puppetlabs/stdlib 9
  manifests/init.pp
  metadata.json
  spec/acceptance/bird_spec.rb
Labels: backwards-incompatible

#97 Drop support for Debian 9 (EOL)
  metadata.json
Labels: backwards-incompatible

#99 Add Ubuntu 22.04 support
  metadata.json
Labels: enhancement

#102 modulesync 7.0.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  spec/spec_helper.rb
Labels: modulesync
